

*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    display: inline-block; 
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none; 
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: none; 
    transition: background-color 0.3s ease;
}

.btn-info:hover {
    background-color: #333;
}

.logo {
    position: absolute; 
    top: -180px;      
    right: 300px;    
    width: 120px;   
    height: auto;
    z-index: 10;     
}

.logo_img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

header h1 {
    
    font-family: 'Impact', 'Arial Black', sans-serif;
    font-size: 70px;
    color: #000;
    font-weight: normal;
    text-align: center;
    margin: 2px 2px 0 #fff;
}



body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}



header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;

}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}





.container-products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

.perfumeBad,
.perfumeLeMale,
.perfumeChanel,
.perfumeAcqua,
.perfumeDior,
.perfumeVer,
.perfumeCaro,
.perfumeChan,
.perfumeMiss,
.perfumeClas,
.perfumeDivine,
.perfumeVa {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    width: calc(33% - 20px);
    min-width: 280px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
}

.perfumeBad:hover,
.perfumeLeMale:hover,
.perfumeChanel:hover,
.perfumeAcqua:hover,
.perfumeDior:hover,
.perfumeVer:hover,
.perfumeCaro:hover,
.perfumeChan:hover,
.perfumeMiss:hover,
.perfumeClas:hover,
.perfumeDivine:hover,
.perfumeva:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.perfumeBad figure img,
.perfumeLeMale figure img,
.perfumeChanel figure img,
.perfumeAcqua figure img,
.perfumeDior figure img,
.perfumeVer figure img,
.perfumeCaro figure img,
.perfumeChan figure img,
.perfumeMiss figure img,
.perfumeClas figure img,
.perfumeDivine figure img,
.perfumeVa figure img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.perfumeBad figure,
.perfumeLeMale figure,
.perfumeChanel figure,
.perfumeAcqua figure,
.perfumeDior figure,
.perfumeVer figure,
.perfumeCaro figure,
.perfumeChan figure,
.perfumeMiss figure,
.perfumeClas figure,
.perfumeDivine figure,
.perfumeVa figure {
    overflow: hidden;
}

.perfumeBad:hover figure img,
.perfumeLeMale:hover figure img,
.perfumeChanel:hover figure img,
.perfumeAcqua:hover figure img,
.perfumeDior:hover figure img,
.perfumeVer:hover figure img,
.perfumeCaro:hover figure img,
.perfumeChan:hover figure img,
.perfumeMiss:hover figure img,
.perfumeClas:hover figure img,
.perfumeDivine:hover figure img,
.perfumeVa:hover figure img {
    transform: scale(1.1);
}

.info-perfume{
    padding: 15px 20px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.info-perfume h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.precio{
    font-size: 22px;
    font-weight: 900;
    color: #000;
}

.info-perfume button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.info-perfume button:hover {
    background-color: #333;
}
